[submodule "src/third_party/PENF"]
	path = src/third_party/PENF
	url = https://github.com/szaghi/PENF
[submodule "src/third_party/VecFor"]
	path = src/third_party/VecFor
	url = https://github.com/szaghi/VecFor
