[submodule "src/third_party/PENF"]
	path = src/third_party/PENF
	url = https://github.com/szaghi/PENF
[submodule "src/third_party/VecFor"]
	path = src/third_party/VecFor
	url = https://github.com/szaghi/VecFor
[submodule "src/third_party/FLAP"]
	path = src/third_party/FLAP
	url = https://github.com/szaghi/FLAP
[submodule "src/third_party/FACE"]
	path = src/third_party/FACE
	url = https://github.com/szaghi/FACE
[submodule "src/third_party/BeFoR64"]
	path = src/third_party/BeFoR64
	url = https://github.com/szaghi/BeFoR64
[submodule "src/third_party/StringiFor"]
	path = src/third_party/StringiFor
	url = https://github.com/szaghi/StringiFor
[submodule "src/third_party/VTKFortran"]
	path = src/third_party/VTKFortran
	url = https://github.com/szaghi/VTKFortran
[submodule "src/third_party/FoXy"]
	path = src/third_party/FoXy
	url = https://github.com/Fortran-FOSS-Programmers/FoXy
